// src/_tokens.scss
$color-primary: #73A2FF;
$color-secondary: #666;
$color-error: #EB5252;
$color-success: #3AD365;
$color-hover: #73A2FF;
$color-disabled: #A6A6A6;
$color-read-only: #666;
$color-icon: #ccc;
$color-icon-hover: #333;
$color-filled-color:#EDF5F4;
$color-outlind-underlined: #484747;


$font-size-small: 12px;
$spacing-small: 8px;
$spacing-medium: 10px;
$spacing-large: 32px;

$border-radius: 4px;
$border-width: 1px;


// You can also include z-index, widths, etc., if needed.
